@page "/files"
@using Blazored.LocalStorage
@using Blazored.SessionStorage
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.AspNetCore.Services
@using Turmerik.AspNetCore.Services.DriveItems
@using Turmerik.AspNetCore.Services.LocalSessionStorage
@using Turmerik.Blazor.Core.Pages.Components
@using Turmerik.Core.Cloneable
@using Turmerik.Core.Services.DriveItems

@inherits Turmerik.Blazor.Core.Pages.FilesBase

@inject ICloneableMapper mapper;
@inject INavManager navManager;
@inject ILocalStorageWrapper localStorage;
@inject ISessionStorageWrapper sessionStorage;
@inject IDriveFolderService driveFolderService;

<div class="@CssClassH.Container">
    <AddressBar
        OnGoBackClick=@OnAddressBarGoBackClick
        OnGoUpClick=@OnAddressBarGoUpClick
        OnGoForwardClick=@OnAddressBarGoForwardClick
        OnReloadClick=@OnAddressBarReloadClick
        OnSubmitAddress=@OnSubmitAddress></AddressBar>

        <TabView PageItem=TabPageViewModel PageHeadsList=@TabPageHeadsList>
            <PageTemplate>
                <div class="@CssClassH.DriveTabViewPage">
                    <h6>Folders</h6>

                    <table class="table table-dark @CssClassH.DriveFoldersGrid">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subFolder in TabViewPageDriveFolders)
                            {
                                <tr>
                                    <td title="@subFolder.DisplayName">@subFolder.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <h6>Files</h6>

                    <table class="table table-dark @CssClassH.DriveItemsGrid">
                        <thead>
                            <tr>
                                <th>Name</th><th>Ext</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subFolder in TabViewPageDriveItems)
                            {
                                <tr>
                                    <td title="@subFolder.Name">@subFolder.Name</td>
                                    <td title="@subFolder.Extension">@subFolder.Extension</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </PageTemplate>
        </TabView>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        this.Mapper = mapper;
        this.NavManager = navManager;

        LocalStorage = localStorage;
        SessionStorage = sessionStorage;

        DriveFolderService = driveFolderService;
        await base.OnInitializedAsync();
    }
}