@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Turmerik.AspNetCore.Infrastructure
@using System.Web;
@using Turmerik.Blazor.Core.Pages.Components
@using Turmerik.Core.Helpers;

@inherits DriveItemOptionsModalBase

@inject IJSRuntime jsRuntime;

<SimpleModal
    ModalId="@ModalId"
    OnCloseModalAsync=OnCloseModalAsync>
    <HeaderTemplate Context="headerCtx">
        <IdentifierLabel
            IdentifierValue=@DriveItemName
            RenderClipboardButton=@(AllowAllToClipboard || AllowDriveItemNameToClipboard)>
            <BeforeIconTemplate Context="afterIconCtx">
                <h5 class="modal-title">
                    <span class="oi @IconCssClass"></span>
                    @DriveItemName
                </h5>
            </BeforeIconTemplate>
        </IdentifierLabel>
    </HeaderTemplate>
    <BodyTemplate Context="bodyCtx">
        <IdentifierLabel
            IdentifierValue=@DriveItemAddress
            RenderClipboardButton="true"
            RenderNothing=@(!(AllowAllToClipboard || ShowDriveItemAddress))>
            <BeforeIconTemplate>
                <pre>@DriveItemAddress</pre>
            </BeforeIconTemplate>
            <AfterIconTemplate Context="afterIconCtx">
                <hr />
            </AfterIconTemplate>
        </IdentifierLabel>

        @BodyContentTemplate(null)

        <IdentifierLabel
            IdentifierValue=@DriveItemUri
            RenderClipboardButton="true"
            RenderNothing=@(!(AllowAllToClipboard || ShowDriveItemUri))>
            <BeforeIconTemplate Context="beforeIconCtx">
                <pre>@DriveItemUri</pre>
            </BeforeIconTemplate>
            <AfterIconTemplate Context="afterIconCtx">
            </AfterIconTemplate>
        </IdentifierLabel>
    </BodyTemplate>
</SimpleModal>

@code {
    [Parameter]
    public string ModalId { get; set; }

    [Parameter]
    public string DriveItemName { get; set; }
    
    [Parameter]
    public bool AllowAllToClipboard { get; set; }
    
    [Parameter]
    public bool AllowDriveItemNameToClipboard { get; set; }
    
    [Parameter]
    public string DriveItemAddress { get; set; }
    
    [Parameter]
    public bool ShowDriveItemAddress { get; set; }
    
    [Parameter]
    public string DriveItemUri { get; set; }
    
    [Parameter]
    public bool ShowDriveItemUri { get; set; }

    [Parameter]
    public string DriveItemId { get; set; }

    [Parameter]
    public Func<Task> OnCloseModalAsync { get; set; }

    [Parameter]
    public bool IsFolderItem { get; set; }

    [Parameter]
    public RenderFragment<object> BodyContentTemplate { get; set; }

    private string IconCssClass => IsFolderItem ? "oi-folder" : "oi-file";
}
