@using Blazored.LocalStorage
@using Blazored.SessionStorage
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.AspNetCore.Services
@using Turmerik.AspNetCore.Services.DriveItems
@using Turmerik.AspNetCore.Services.LocalSessionStorage
@using Turmerik.AspNetCore.Settings
@using Turmerik.Blazor.Core.Pages.Components
@using Turmerik.Core.Cloneable
@using Turmerik.Core.Services.DriveItems

@inherits FilesPageComponentBase

@inject ICloneableMapper mapper;
@inject INavManager navManager;
@inject ILocalStorageWrapper localStorage;
@inject ISessionStorageWrapper sessionStorage;
@inject IDriveFolderService driveFolderService;
@inject ITrmrkAppSettings appSettings;

<div class="@CssClassH.Container">
    <AddressBar
        OnGoBackClick=@OnAddressBarGoBackClick
        OnGoUpClick=@OnAddressBarGoUpClick
        OnGoForwardClick=@OnAddressBarGoForwardClick
        OnReloadClick=@OnAddressBarReloadClick
        OnSubmitAddress=@OnSubmitAddress></AddressBar>

    <div class="@CssClassH.Spacer"></div>

    <TabView
        PageItem=TabPageViewModel
        PageHeadsList=@TabPageHeadsList
        Error=ErrorViewModel>
        <PageTemplate>
            <div class="@CssClassH.DriveTabViewPage">
                <h6>Folders</h6>

                <table class="table table-sm table-dark table-hover @CssClassH.Table @CssClassH.DriveFoldersGrid">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th class="@CssClassH.ColName">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subFolder in TabViewPageDriveFolders)
                        {
                            <tr>
                                <th scope="row"><span class="oi oi-folder" aria-hidden="true"></span></th>
                                <td title="@subFolder.DisplayName">@subFolder.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <h6>Files</h6>

                <table class="table table-sm table-dark table-hover @CssClassH.Table @CssClassH.DriveItemsGrid">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th class="@CssClassH.ColName">Name</th>
                            <th class="@CssClassH.ColExt">Ext</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subFolder in TabViewPageDriveItems)
                        {
                            <tr>
                                <th scope="row"><span class="oi oi-file" aria-hidden="true"></span></th>
                                <td title="@subFolder.Name">@subFolder.Name</td>
                                <td title="@subFolder.Extension">@subFolder.Extension</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </PageTemplate>
    </TabView>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        Mapper = mapper;
        NavManager = navManager;

        LocalStorage = localStorage;
        SessionStorage = sessionStorage;

        DriveFolderService = driveFolderService;
        AppSettings = appSettings;

        await base.OnInitializedAsync();
    }
}
