@using Blazored.LocalStorage
@using Blazored.SessionStorage
@using Microsoft.JSInterop
@using System.Collections
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.AspNetCore.Services
@using Turmerik.AspNetCore.Services.DriveItems
@using Turmerik.AspNetCore.Services.LocalSessionStorage
@using Turmerik.AspNetCore.Settings
@using Turmerik.Blazor.Core.Pages.Components
@using Turmerik.Core.Cloneable
@using Turmerik.Core.Components
@using Turmerik.Core.Services.DriveItems

@inherits FilesPageComponentBase

@inject ICloneableMapper mapper;
@inject INavManager navManager;
@inject ILocalStorageWrapper localStorage;
@inject ISessionStorageWrapper sessionStorage;
@inject IDriveFolderService driveFolderService;
@inject IJSRuntime jsRuntime;
@inject ITrmrkAppSettings appSettings;
@inject ITimeStampHelper timeStampH;

<div class="@CssClassH.Container">
    <AddressBar
        OnGoBackClick=@OnAddressBarGoBackClick
        OnGoUpClick=@OnAddressBarGoUpClick
        OnGoForwardClick=@OnAddressBarGoForwardClick
        OnOptionsClick=@OnCurrentlyOpenFolderOptionsClick
        OnReloadClick=@OnAddressBarReloadClick
        OnSubmitAddress=@OnSubmitAddress></AddressBar>

    <div class="@CssClassH.Spacer"></div>

    <TabView
        PageItem=TabPageViewModel
        PageHeadsList=@TabPageHeadsList
        Error=ErrorViewModel>
        <PageTemplate>
            <div class="@CssClassH.DriveTabViewPage">
                <h6>Folders</h6>

                <DriveItemsGrid
                    DriveItemType=IDriveFolder
                    DriveItems=@TabViewPageDriveFolders
                    TableCssClass="@CssClassH.DriveFoldersGrid"
                    IconCssClass="oi-folder"
                    OnDriveItemClick="@OnDriveFolderClick">
                        <SpecificRowColumns Context="ctx">

                        </SpecificRowColumns>
                        <SpecificRowCells Context="dvFolder">

                        </SpecificRowCells>
                </DriveItemsGrid>

                <h6>Files</h6>

                <DriveItemsGrid
                    DriveItemType=IDriveItem
                    DriveItems=@TabViewPageDriveItems
                    TableCssClass="@CssClassH.DriveItemsGrid"
                    IconCssClass="oi-file"
                    OnDriveItemClick="@OnDriveItemClick">
                        <SpecificRowColumns Context="ctx">
                            <th class="@CssClassH.ColExt">Ext</th>
                        </SpecificRowColumns>
                        <SpecificRowCells Context="dvFile">
                        @{
                            var driveFile = (IDriveItem)dvFile;
                        }
                            <td title="@driveFile.Extension">@driveFile.Extension</td>
                        </SpecificRowCells>
                </DriveItemsGrid>
            </div>
        </PageTemplate>
    </TabView>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        Mapper = mapper;
        NavManager = navManager;

        LocalStorage = localStorage;
        SessionStorage = sessionStorage;

        DriveFolderService = driveFolderService;
        AppSettings = appSettings;

        await base.OnInitializedAsync();
    }
}
