@using Turmerik.Blazor.Core.Pages.Components
@using Turmerik.AspNetCore.Infrastructure;

@inherits ComponentCoreBase

@typeparam PageComponentType

<div class="@CssClassH.TabView">
    @if (PageHeadsList != null)
    {
        <div class="@CssClassH.TabViewHeader" role="group">
            @foreach (var tabPageHead in PageHeadsList)
            {
                <div class="@GetTabPageHeadCssClass(tabPageHead)">
                    <span class="@CssClassH.Name">@tabPageHead.Name</span>
                    <span class="oi oi-x" aria-hidden="true"></span>
                </div>
            }
            <span class="oi oi-plus" aria-hidden="true"></span>
        </div>
        
        <div class="@CssClassH.TabPage">
            @if(Error == null && PageTemplate != null && PageItem != null)
            {
                @PageTemplate(PageItem)
            }
            else if (Error != null)
            {
                <ErrorView
                    ViewModel="@Error"
                    ViewSize="@ErrorViewSize.Large" />
            }
            else
            {
                <div class="@CssClassH.ErrorBlockLarge">
                    <p>Oops... An error has occurred</p>
                </div>
            }
        </div>
    }
    else if (Error != null)
    {
        <ErrorView
            ViewModel="@Error"
            ViewSize="@ErrorViewSize.Large" />
    }
    else
    {
        <div class="@CssClassH.Loading">LOADING...</div>
    }
    
</div>

@code {
    [Parameter]
    public RenderFragment<PageComponentType> PageTemplate { get; set; }

    [Parameter]
    public PageComponentType PageItem { get; set; }

    [Parameter]
    public List<ITabPageHead> PageHeadsList { get; set; }

    [Parameter]
    public ErrorViewModel Error { get; set; }

    protected string GetTabPageHeadCssClass(
        ITabPageHead tabPageHead)
    {
        var cssClassList = new List<string>
        {
            CssClassH.TabPageHead
        };

        if (tabPageHead.IsCurrent)
        {
            cssClassList.Add(CssClassH.Current);
        }

        string cssClasses = string.Join(' ', cssClassList);
        return cssClasses;
    }
}
